.title {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
}

.soda {
    display: flex;
    justify-content: center;
    margin: 5%;

}

.playbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.border {
    border: 2px;
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: auto;
    box-shadow: 4px 4px 7px;
}

.SmartyC {
    display: flex;
    justify-content: center;
    margin: 10%;
}